/* General */
body {
    background-color: #e6e6e6;
}
.main-content {
    margin-top: 50px;
}
/* Typography */
/* font-family: 'Lato', sans-serif; font-family: 'Oswald', sans-serif;*/
h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 72pt;
    margin: 0;
    padding: 0;
    font-weight: 400;
}
h1:hover {
    font-weight: 700;

}
h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 11pt;  
    padding: 0;
    margin: 0;
}
p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 11pt;    
}
a {
    text-decoration: none;
    color: inherit;
}
/* Loads */
.ass {
    /* display: none; */
}

/* Date */
h2 .date { display: none; }
h2:hover .code { display: none; }
h2:hover .date { display: inline; }
/* grid */
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr [col]);
    margin: 0 5vW;
}
.item {
    margin: .5vw;
    text-align: center;
    justify-self: center;
    color: rgb(0,0,0,0.5);
    padding: 15px;
    -webkit-transition: .8s;
    -moz-transition: .8s;
    -ms-transition: .8s;
    -o-transition: .8s;
    transition: .8s;
    border-radius: 5px;
}
/* Content */
footer {
    color: rgb(0,0,0,0.3);
}
footer p {
    text-align: center;
}

/* Media Queries */
@media only screen and (max-width: 1344px) and (min-width:907px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr [col]);
        margin: 0 5vW;
    
    }
}
@media only screen and (max-width: 906px) and (min-width:0px) {
    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr [col]);
        margin: 0 5vW;
    
    }
}

