
/*****************************
Typography
****************************/
body {
    font-family: 'Lato', sans-serif;
}
h1 {
    font-size: 30pt;
    text-transform: uppercase;
    
}
h1:hover {
    font-weight: 400;
}
.maincontent h2 {
    font-size: 36pt;
    color: #36966c;
}
.head h2 {
    color: #36966c;
}
h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    padding: 20px 0 0 0;
    margin: 0px;
    font-size: 1.5em;
}
h4 {
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    padding: 20px 0 0 0;
    margin: 0px;
    text-transform: uppercase;
    font-size: 14pt;
}
p {
    padding: 5px 0;
    font-size: 16pt;
    margin-top: 0px;
}
ul ul {
    padding: 0px 0 0 20px;
}
.maincontent ul {
    margin: 5px 0;
    padding: 5px 0px 20px 20px ;
}
.maincontent li {
    font-size: 16pt;

}
.maincontent dt {
    font-weight: 700;
    font-size: 16pt;
}

.maincontent dd {
    font-weight: inherit;
    Margin-left: 0px;
    margin-bottom: 10px;
    font-size: 16pt;
}
.maincontent h1 {
    font-size: 48pt;
    margin-top: 60px;
}
.maincontent hr {
    background-color: #36966c;
    height: 2px;
}
.maincontent span {
    color: #36966c; 
}
/*****************************
Layout
****************************/
html {
    scroll-behavior: smooth;
}
.maincontent {
    padding: 15px;
    display: grid;
    align-content: top;
    justify-self: center;
    max-width: 1080px;
    overflow: scroll;
    height: 100%;
}
body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    overflow:hidden;
}
.columncontainer {
    display: grid;
    grid-template-columns: [nav] 100px [middlestuff] auto [head] 70px;
    height: 100vH;

}
hr {
    color: #1a1a1a;
    height: 2px;
    background-color: #1a1a1a;
    margin-bottom: 100px;
}
.space {
    height: 20vh;
    display:block;
}
/* Navigation */

.mainnav {
    background-color: #fafafa;
    z-index: 5;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navList.item {
    margin: 0;
    padding: 0;
    width: 50px;
}
.mainnav a {
    padding: 5px 15px;
    display:block;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    transition: .2s;
    -o-transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    border-radius: 4px;
    font-size: 10pt;
    position: relative;
}
.navList a.main {
    color: #1a1a1a;
    font-weight: 700;
}
.mainnav a:hover {
    color: #1a1a1a;
}
.mainnav a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #1a1a1a;
    transition: width 0.5s ease 0s, left 0.5s ease 0s;
    width: 0;
}
.home:after {
    top: 0;
}
.mainnav a:hover:after { 
    width: 100%; 
    left: 0; 
}

/* Back to top */
a.backtotop {
    font-family: 'Oswald', sans-serif;
    transition: .4s;
}
a.backtotop:hover {
    color: #36966c;

}
/* Header */
.head {
    background-color:#fafafa;
    justify-content: center;
    writing-mode: vertical-rl;
    z-index: 5;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.head h2 , .head h1, a.home {
    font-size: 20px;
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2pt;
}
a.home {
    writing-mode: vertical-rl;
    padding: 50px 0 0 0;
    -webkit-transform:rotate(-180deg);
    -moz-transform:rotate(-180deg);
    -o-transform:rotate(-180deg);
    transform:rotate(-180deg);
}
/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}
  /* Track */


  /* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(0,0,0,0.4); 
    border-radius: 10px;
    transition: .3s;
}

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: rgb(0,0,0,0.8); 
}
/* Content */

ul ~ p {
    margin: 0;
}
.maincontent p + ul {
    margin-bottom:40px;
    margin-top:0;
    padding-top:0;
}
.maincontent ol ul {
    margin-top: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0;
}
dl {
    padding-bottom: 20px;
}
.columnsection p {
    margin-bottom: 0px;
}
ul.cascadinglist {
    list-style: none;
}

/* Image Containers */
.imggallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    max-width: 1080px;
}
.imgbox {
    vertical-align: top; 
    padding-bottom: 30px;
}
.imgbox img {
    width: 100%;
    margin: 10px 0 5px 0;
}
.maincontent iframe {
    margin: 10px 0 5px 0;
    width:1080px;
    height:720px;

}

/* PDF Container */
a.pdfdocument {
    display: block;
    margin: 30px 0;
    padding: 15px;
    position: relative;
    background: #1a1a1a;
    border-radius: 5px;
    color: #fafafa;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 200px;
}
a.inline {
    display: inline-block;
}

@media only screen and (max-width: 1000px) and (min-width:901px) {
    .maincontent {
        padding: 15px;
        display: grid;
        align-content: top;
        justify-self: center;
        max-width: 900px;
        overflow: scroll;
        height: 100%;
    }
    .imggallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
        max-width: 900px;
    }
    .maincontent iframe {
        margin: 10px 0 5px 0;
        width:900px;
        height:640px;
    
    }

}
@media only screen and (max-width: 900px) and (min-width:500px) {
    /* Typography fixes */
    .maincontent h1 {
        font-size: 19pt;
    }
    .maincontent h4 {
        font-size: 14pt;
    }
    .maincontent h3 {
        font-size: 14pt;
    }
    
    .maincontent p {
        font-size: 12pt;
    }
    .maincontent li {
        font-size: 12pt;
    }
    
    .maincontent dd {
        font-size: 12pt;
    }
    .maincontent dt {
        font-size: 12pt;
    }
    /* laoyout */
    .columncontainer {
        display: grid;
        grid-template-columns: [nav] 100px [middlestuff] auto [head] 70px;
        height: 100vH;
    
    }
    .head {
        background-color:#fafafa;
        justify-content: center;
        writing-mode: vertical-rl;
        z-index: 5;
        padding-top: 100px;
        height: 100%;
        
    }
    .mainnav a {
        padding: 5px 15px;
        font-family: 'Oswald', sans-serif;
        font-weight: 300;
        transition: .2s;
        -o-transition: .2s;
        -moz-transition: .2s;
        -webkit-transition: .2s;
        border-radius: 4px;
        font-size: 10pt;
        position: relative;
    }
    a.home {
        writing-mode: vertical-rl;
        padding: 50px 0 0 0;
        -webkit-transform:rotate(-180deg);
        -moz-transform:rotate(-180deg);
        -o-transform:rotate(-180deg);
        transform:rotate(-180deg);
    }
    .imggallery {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 00px;
        max-width: 500px;
    }
    .maincontent {
        padding: 15px;
        display: grid;
        align-content: top;
        justify-self: center;
        max-width: 500px;
        overflow: scroll;
        height: 100%;
    }
    .maincontent iframe {
        margin: 10px 0 5px 0;
        width:500px;
        height:320px;
    

}
@media only screen and (max-width: 499px) and (min-width:0px) {
    /* Typography fixes */
    .maincontent h1 {
        font-size: 19pt;
    }
    .maincontent h4 {
        font-size: 14pt;
    }
    .maincontent h3 {
        font-size: 14pt;
    }
    
    .maincontent p {
        font-size: 12pt;
    }
    
    .maincontent li {
        font-size: 12pt;
    }
    .maincontent dd {
        font-size: 12pt;
    }
    .maincontent dt {
        font-size: 12pt;
    }
    /* layout */
    .columncontainer {
        display: grid;
        grid-template-columns: 100%;
    }
    .head {
        background-color:#fafafa;
        justify-content: center;
        writing-mode: horizontal-tb;
        z-index: 5;
        padding-top: 0px;
        height: auto;
        
    }
    .mainnav a {
        padding: 5px 15px;
        display:inline-block;
        font-family: 'Oswald', sans-serif;
        font-weight: 300;
        transition: .2s;
        -o-transition: .2s;
        -moz-transition: .2s;
        -webkit-transition: .2s;
        border-radius: 4px;
        font-size: 10pt;
        position: relative;
    }
    a.home {
        writing-mode: horizontal-tb;
        padding: 0 0 0 0;
        -webkit-transform:rotate(0);
        -moz-transform:rotate(0);
        -o-transform:rotate(0);
        transform:rotate(0);
    }
    .navList.item {
        margin: 0;
        padding: 0;
        width: auto;
        display: inline-block;
    }
    .imggallery {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 00px;
        max-width: 480px;
    }
    .maincontent {
        padding: 15px;
        display: grid;
        align-content: top;
        justify-self: center;
        max-width: 480px;
        overflow: scroll;
        height: 100%;
    }
    .maincontent iframe {
        margin: 10px 0 5px 0;
        width:480px;
        height:320px;
    
}
}