
/*****************************
Typography
****************************/
body {
    font-family: 'Lato', sans-serif;
}
h1 {
    font-size: 30pt;
    text-transform: uppercase;
}
h1:hover {
    font-weight: 400;
}
h2 {

}
.maincontent h2 {
    color: #36966c;
}
header h2 {
    color: #36966c;
}
h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    padding: 20px 0 0 0;
    margin: 0px;
    font-size: 1.5em;
}
h4 {
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    padding: 20px 0 0 0;
    margin: 0px;
    text-transform: uppercase;
    font-size: 14pt;
}

p {
    padding: 5px 0;
    font-size: 16pt;
    margin-top: 0px;
}
ul {
    padding: 5px 0px 20px 20px ;
    
}
ul ul {
    padding: 0px 0 0 20px;
}

/*****************************
Layout
****************************/

.maincontent {
    padding: 15px;
    /* column-count: 2; */
    /* column-gap: 10px; */
}
body {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    padding: 0px;
    margin: 0px;
    position: relative;


}
.control {
    display: grid;
    align-content: center;
    justify-self: center;
    max-width: 1080px;

}
hr {
    color: #1a1a1a;
    height: 2px;
    background-color: #1a1a1a;
    margin-bottom: 100px;
}
/* Navigation */
html {
    scroll-behavior: smooth;
}
nav {

    background-color: #fafafa;
    z-index: 5;

}
nav a {
    padding: 5px 15px;
    display:inline-block;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    transition: .2s;
    -o-transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    border-radius: 4px;
    font-size: 10pt;
    position: relative;
}
.navList a.main {
    color: #1a1a1a;
    font-size: 700;
}
nav a:hover {
    color: #1a1a1a;
}
nav a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #1a1a1a;
    transition: width 0.5s ease 0s, left 0.5s ease 0s;
    width: 0;
}
nav a:hover:after { 
    width: 100%; 
    left: 0; 
}
/* Back to top */
button.backtotop {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: lightgrey;
    padding: 15px;
    font-size: 12pt;
    bottom: 20px;
    right: 30px;
    position: fixed;
    font-family:  Lato;
}


/* Header */
header {
    height: 100px;
    overflow: visible;
    background-color: #292929;
    color: #fafafa;
    position:relative;
    padding: 50px 15px;
    margin-top: 100px;


}
header:after {
    content: "";
    position: absolute;
    height: 200px;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    width: 100vw;
    z-index: -3;
    background-color: #292929;
}
header h1 {
    color: #fafafa;

}
/* Content */
.maincontent {
    max-width: 1080px;
}
.maincontent ul {
    margin: 5px 0;
}
.maincontent li {
    font-size: 16pt;

}
.maincontent dt {
    font-weight: 700;
}

.maincontent dd {
    font-weight: inherit;
    Margin-left: 0px;
    margin-bottom: 10px;
}
.maincontent h1 {
    font-size: 48pt;
    margin-top: 30px;

}
ul ~ p {
    margin: 0;
}
.maincontent p + ul {
    margin-bottom:40px;
    margin-top:0;
    padding-top:0;
}
dl {
    padding-bottom: 20px;
}

.columnsection {
    /* column-count: 2;
    column-gap: 20px; */
}
.columnsection p {
    margin-bottom: 0px;
}
/* Image Containers */
.imggallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
}
.imgbox {
    vertical-align: top; 
    /* background-color: red; */
    padding-bottom: 30px;
}
.imgbox img {
    width: 100%;
    margin: 10px 0 5px 0;
}
iframe {
    margin: 10px 0 5px 0;
}